<div class="jumbotron">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a class="jumbotron" href="#">About</a>
            </li>
            <li>
                <a class="jumbotron" href="#">Contact</a>
            </li>
        </ul>
    </div>
  <div class="container">
    <h1>Nikola Tesla Web Store</h1>
    <p>welcome</p>
    <br>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">View Current Sales »</a> <a class="btn btn-primary btn-lg" href="#" role="button">Browse New Products »</a></p>
  </div>
</div>
